@media (max-width: 768px) {
    .footer-wrapper {
        text-align: center;
    }

    .footer-about {
        margin-bottom: 25px;
    }
}

.card {
    margin-top: 35px;
}

.profile-form-btn {
    border: none;
}