.input-code {
	width: 200px;
	@include media-breakpoint-down(md) {
		width: 165px; 
	}
}
.add-to-cart {
	width: 200px;
	@include media-breakpoint-down(sm) {
		width: 145px; 
	}	
}
.product-wrapper {
	@include media-breakpoint-down(sm) {
		.porduct-title.display2-size {font-size: 30px !important; }
		.display3-size {font-size: 30px !important; }
	}
}